<div class="single-celebrity">
    <header>
        <div class="container">
            <h2>Show details of a Celebrity you picked</h2>
        </div>
    </header>

    <div class="container"></div>
    <div class="single-celebrity card">
        <h3>Details of {{celebrity.name}}</h3>
        <p><strong>Name: </strong>{{celebrity.name}}</p>
        <hr />
        <p><strong>Occupation: </strong>{{celebrity.occupation}}</p>
        <hr />
        <p><strong>Catch phrase: </strong><q>{{celebrity.catchPhrase}}</q></p>
    </div>

    <div class="content-btn">
        <a href="/celebrities" class="btn">Back to All celebrities</a>
    </div>

</div>
</div>